@font-face {
  font-family: 'Chow Fun';
  src: url('../fonts/asian/Chow\ Fun.ttf') format('truetype');
}

@font-face {
  font-family: 'Karate';
  src: url(../fonts/asian/Karate.ttf) format(truetype);
}

@font-face {
  font-family: 'Shikamaru';
  src: url(../fonts/asian/Shikamaru.ttf) format(truetype);
}

@font-face {
  font-family: 'Sudoku';
  src: url(../fonts/asian/Sudoku.ttf) format(truetype);
}

@font-face {
  font-family: 'Harukaze';
  src: url(../fonts/asian/Harukaze.ttf) format(truetype);
}

@font-face {
  font-family: 'Kashima';
  src: url(../fonts/asian/Kashima.otf) format(opentype);
}

@font-face {
  font-family: 'Katana';
  src: url(../fonts/asian/Katana.ttf) format(truetype);
}

@font-face {
  font-family: 'Shanghai';
  src: url(../fonts/asian/Shanghai.ttf) format(truetype);
}
